@font-face {
  font-family: 'Cera Pro Black Italic';
  src: url('../fonts/cera_pro_black_italic-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_black_italic-webfont.woff') format('woff');
  font-weight: italic;
  font-style: normal;

}




@font-face {
  font-family: 'Cera Pro Black';
  src: url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_black-webfont.woff') format('woff');
  font-weight: bolder;
  font-style: normal;

}




@font-face {
  font-family: 'Cera Pro Bold';
  src: url('../fonts/cera_pro_bold-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}




@font-face {
  font-family: 'Cera Pro Light';
  src: url('../fonts/cera_pro_light-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_light-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;

}




@font-face {
  font-family: 'Cera Pro Medium';
  src: url('../fonts/cera_pro_medium-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_medium-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}




@font-face {
  font-family: 'Cera Pro italic regular';
  src: url('../fonts/cera_pro_regular_italic-webfont.woff2') format('woff2'),
       url('../fonts/cera_pro_regular_italic-webfont.woff') format('woff');
  font-weight: italic;
  font-style: normal;

}




// @font-face {
//   font-family: 'Cera Pro italic regular';
//   src: url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
//        url('../fonts/cerapro-medium-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }




@font-face {
  font-family: 'Cera Pro Regular';
  src: url('../fonts/fontspring-demo-cerapro-regular-webfont.woff2') format('woff2'),
       url('../fonts/fontspring-demo-cerapro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}