
body {
  font-size: 13px!important;
  font-family: 'Inter', sans-serif!important;
}

.main-sidebar {
  background: #332d3a!important;
}
.nav-sidebar > .nav-item .nav-icon {
  font-size: .9rem!important;
}